
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      NGINX_ENVSUBST_TEMPLATE_DIR: ${NGINX_ENVSUBST_TEMPLATE_DIR:-/etc/nginx/templates}
      NGINX_ENVSUBST_TEMPLATE_SUFFIX: ${NGINX_ENVSUBST_TEMPLATE_SUFFIX:-.template}
      NGINX_ENVSUBST_OUTPUT_DIR: ${NGINX_ENVSUBST_OUTPUT_DIR:-/etc/nginx/conf.d}
    configs:
      - source: ${NGINX_CONF}
        target: /etc/nginx/nginx.conf
      - source: ${NGINX_TEMPLATES}
        target: ${NGINX_ENVSUBST_TEMPLATE_DIR:-/etc/nginx/templates}

configs: # please override here files
  nginx_conf:
    file: nginx.conf
  nginx_templates:
    file: templates/
