
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - NGINX_ENVSUBST_TEMPLATE_DIR=${NGINX_ENVSUBST_TEMPLATE_DIR:-/etc/nginx/templates}
      - NGINX_ENVSUBST_TEMPLATE_SUFFIX=${NGINX_ENVSUBST_TEMPLATE_SUFFIX:-.template}
      - NGINX_ENVSUBST_OUTPUT_DIR=${NGINX_ENVSUBST_OUTPUT_DIR:-/etc/nginx/conf.d}
    configs:
      - source: nginx_config
        target: ${NGINX_ENVSUBST_TEMPLATE_DIR:-/etc/nginx/templates}

configs:
  nginx_config:
    file: templates
