
services:
  nginx:
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - ./default.env
      - ./.env
    configs:
      - source: nginx_config
        target: /etc/nginx/nginx.conf
      - source: templates_configs
        target: ${NGINX_ENVSUBST_TEMPLATE_DIR:-/etc/nginx/templates}

configs:
  nginx_config:
    file: nginx.conf
  templates_configs:
    file: templates
