<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
>
    <testsuites>
        <testsuite name="Domain">
            <directory suffix="Test.php">./private/Domain</directory>
        </testsuite>
        <testsuite name="Infrastructure">
            <directory suffix="Test.php">./private/Infrastructure</directory>
        </testsuite>
        <testsuite name="Application">
            <directory suffix="Test.php">./private/Application</directory>
        </testsuite>
        <testsuite name="Presentation">
            <directory suffix="Test.php">./tests/Presentation</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>app</directory>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
