

services:
  camagru-app:
    restart: on-failure
    container_name: camagru-app-container
    hostname: camagru-app-machine
    pull_policy: never
    image: camagru/camagru-app:latest
    environment:
      S3_ACCESS_KEY: ${RUSTFS_ACCESS_KEY:?error}
      S3_SECRET_KEY: ${RUSTFS_SECRET_KEY:?error}
      S3_CONSOLE_ENABLE: ${RUSTFS_CONSOLE_ENABLE:?error}
      S3_SERVER_DOMAINS: ${RUSTFS_SERVER_DOMAINS:?error}
      S3_PORT: 9000
      S3_BUCKET_NAME: ${CAMAGRU_APP_BUCKET_NAME:?error}
      S3_PRESIGNED_EXPOSE_DOMAIN: ${GATEWAY_DOMAIN:?error}
      S3_PRESIGNED_EXPOSE_PORT: ${GATEWAY_PORT:?error}
    build:
      context: .
      dockerfile: Dockerfile
      target: ${CAMAGRU_APP_BUILD_TARGET:?error}
    volumes:
      - ${CAMAGRU_APP_SOURCE}:/var/www/html
      - uploads_volume:/var/www/uploads:rw
    post_start:
      - command: ["chown", "www-data", "-R", "/var/www/uploads"]
        user: root
    configs:
      - source: php_fpm_conf
        target: /usr/local/etc/php-fpm.conf
      - source: php_fpm_d
        target: /usr/local/etc/php-fpm.d/
      - source: php_ini
        target: /usr/local/etc/php/php.ini
    secrets:
      - source: gmail_password
        target: /run/secrets/gmail_password
      - source: msmtprc
        target: /var/www/.msmtprc

  mailpit:
    image: axllent/mailpit
    hostname: mailpit
    ports:
      - 8025:8025

configs:
  php_fpm_conf:
    file: configs/php-fpm.conf
  php_fpm_d:
    file: configs/php-fpm.d/
  php_ini:
    file: configs/php-ini/php.ini-development

secrets:
  gmail_password:
    file: secrets/gmail_password
  msmtprc:
    file: secrets/.msmtprc.dev
