

services:
  camagru-app:
    restart: on-failure
    container_name: camagru-app-container
    hostname: camagru-app-machine
    pull_policy: never
    image: camagru/camagru-app:latest
    build:
      context: ${CAMAGRU_APP_BUILD_CONTEXT:?error}
      dockerfile: Dockerfile
      target: ${CAMAGRU_APP_BUILD_TARGET:?error}
    configs:
      - source: php_fpm_conf
        target: /usr/local/etc/php-fpm.conf
      - source: php_fpm_d
        target: /usr/local/etc/php-fpm.d/
      - source: php_ini
        target: /usr/local/etc/php/php.ini

configs:
  php_fpm_conf:
    file: configs/php-fpm.conf
  php_fpm_d:
    file: configs/php-fpm.d/
  php_ini:
    file: configs/php-ini/php.ini-development
