

services:
  db:
    image: mariadb
    container_name: db
    restart: always
    environment:
      MARIADB_ROOT_PASSWORD: ${DB_PASSWORD:?error}

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
